main {
  padding: 30px 20px 30px 20px;
}

.item-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-lists div {
  margin-top: 10px;
}

.item-lists__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-lists__img img {
  width: 50px;
}

.item-lists__info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
}
.item-lists__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}
.item-lists__info-price {
  font-weight: bold;
}
.write-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.write-btn:hover {
  background-color: var(--button-hover);
}
